############################################################
# General
checkpoints/
eval_results/
run.sh
*.mp4

.DS_Store
.AppleDouble
.LSOverride
.Spotlight-V100
.Trashes
._*
Icon\r\r
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg
*.egg-info/
.eggs/
build/
dist/
develop-eggs/
downloads/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
.installed.cfg
MANIFEST
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.nox/
.coverage*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/
*.mo
*.pot
local_settings.py
db.sqlite3*
instance/
.webassets-cache
.scrapy
.pybuilder/
target/
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
.pytype/
cython_debug/
profile_default/
ipython_config.py
__pypackages__/
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.spyderproject
.spyproject
.ropeproject

# Jupyter
.ipynb_checkpoints/
.ipynb_checkpoints

# IDEs
.idea/
.vscode/
*.sublime-workspace

# ignore xr1 runs directory
xr1/runs/
xr1/diagnostics/

# ignore all backup files
*.bak

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
package-lock.json
yarn.lock
jspm_packages/
.bower_components/
.pnp/
.pnp.js

# Temporary/Backup/Log files
*.stackdump
*.bak
*.bak~
*.tmp
tmp/
temp/
logs/

# Test/coverage
*.spec.js
*.test.js
*.lcov
coverage

# Typescript
*.tsbuildinfo

# Compression
*.gz
*.zip
*.tar
*.tar.gz
*.rar

# Media
*.jpg
*.jpeg
*.png
*.gif
*.bmp
*.ico
*.svg
*.mp4
*.mov
*.avi
*.wmv
*.flv
*.mp3
*.wav
*.wma
*.ogg

# README assets
!xr1/assets/wechat_group.jpg

# Documents
*.pdf
*.doc*
*.ppt*
*.xls*

# System/lock
*.lock
.lock-wscript
.lock-sth
*.pid
*~

# Project-specific
*.env.local
.secret
wandb/
hf_cache/
ms_cache/
om_cache/
cache/
config/
saves/
output/
exp_local/
eval_pth/
log/
outputs/
swanlog/
generated_predictions.jsonl
predictions_score.json
hostfile.txt

# Sphinx
docs/_build/

# mkdocs
/site
eval_robocasa365/results_grpo_turnonmicrowave_20260915/
